@font-face {
    font-family: 'mb';
    src: url(/fonts/MuktaMahee-Bold.ttf);
}
@font-face {
    font-family: 'mm';
    src: url(/fonts/MuktaMahee-Medium.ttf)
}
@font-face {
    font-family: 'msb';
    src: url(/fonts/MuktaMahee-SemiBold.ttf);
}
@font-face {
    font-family: 't';
    src: url(/fonts/TiroGurmukhi-Regular.ttf);
}

:root {
    --bg-dark: #040c15;
    --primary-blue: #3b82f6;
    --para-gray: #cbd5e1;
}
*{
    font-family: 't';
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 155%;
}
body{
    background-color: #111827;
    color: var(--para-gray);
}

h1, h2{
    color: var(--primary-blue);
}
.text-blue{
    color: var(--primary-blue); 
    font-size: 25px;
    
}
.title{
    font-size: 35px;
}
.border-bottom{
    border-bottom: var(--para-gray) solid 1px;
}

a{
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    font-family: 't';
    background: transparent;
    border: solid 2px var(--primary-blue);
    color: var(--primary-blue);
}
.flex{
    display: flex;
    justify-content: space-around;
}
